* body {
    text-align: center;
}

.clock {
    width: 500px;
    height: 500px;
    background: #00ffff;
    display: inline-block;
    border-radius: 50%;
    border: 10px solid #000;
    padding: 20px;
}

.seconds,
.minutes,
.hour {
    line-height: 45px;
    position: relative;
    transform-origin: bottom;
}

.seconds {
    height: 250px;
    width: 5px;
    left: 245px;
    background: #ff0000;
    z-index: 3;
    animation: seconds_anim 60s linear infinite;
}

.minutes {
    height: 250px;
    width: 10px;
    left: 242px;
    background: #000;
    top: -250px;
    z-index: 2;
    animation: minutes_anim 600s linear infinite;
}

.hour {
    height: 100px;
    width: 14px;
    left: 240px;
    top: -350px;
    background: #000;
    z-index: 1;
    animation: hour_anim 600s linear infinite;
}

@keyframes seconds_anim {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

@keyframes minutes_anim {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

@keyframes hour_anim {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.ten,
.eleven,
.twelve {
    font-family: arial;
    font-size: 3.7em;
    position: relative;
    color: #000;
    text-shadow: 0 0 10px white;
    z-index: 0;
}

.one {
    top: -600px;
    left: 123px;
}